html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: fixed;
  top: 100px;
  right: 0;
}

/* Write your solution here */

@media only screen and (max-width:

  #bear{
    position: fixed;
    right: 100px;
  }
}
