html {
  background: url(../images/croc.jpg) no-repeat;
  width: 100%;
  max-width: 100%;;
}


#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Write your solution here */

@media only screen and (min-width: 1300px){

  #ostrich {
    position: relative;
    bottom: 20px;
    left: 0;
  }
}
