html {
  background: url(../images/croc.jpg) no-repeat center;
}

#ostrich {
  position: absolute;

  right: 0;
}

/* Write your solution here */

@media only screen and (min-width: 1300px){

  #ostrich {
    position: absolute;
    bottom: 200px;
    right: 0;
  }
}
